<div>
  <md-checkbox [(ngModel)]="modpack.solder.use">Use Solder</md-checkbox>
</div>
<div *ngIf="modpack.solder.use">

  <md-radio-group [(ngModel)]="modpack.solder.version">
    <md-radio-button value="0.7">0.7</md-radio-button>
    <md-radio-button value="0.8">0.8</md-radio-button>
  </md-radio-group>

  <div [ngSwitch]="modpack.solder.version">
    <div class="solder-url" fxLayout="row">
      <md-input-container fxFlex>
        <input mdInput placeholder="Solder url (E.g. http://solder.example.com)" [(ngModel)]="modpack.solder.url"
               type="url" required noApi #urlInput="ngModel">
        <md-error *ngIf="urlInput.errors">The solder url provided should not end with
          /api/, but should be the url you hit when you browser through your browser.
        </md-error>
      </md-input-container>
    </div>

    <div *ngSwitchCase="'0.7'">
      <div fxLayout="column" fxLayout.lt-sm="row">
        <md-input-container fxFlex="50" fxFlex.lt-sm="100">
          <input mdInput placeholder="Email" [(ngModel)]="modpack.solder.username" type="text" required #emailInput/>
        </md-input-container>
        <md-input-container fxFlex="50" fxFlex.lt-sm="100">
          <input mdInput placeholder="Password" [(ngModel)]="modpack.solder.password" type="password" required
                 #passwordInput/>
        </md-input-container>
      </div>
    </div>

    <div *ngSwitchCase="'0.8'">
      <div fxLayout="column">
        <md-input-container fxFlex>
          <input required type="password" mdInput placeholder="Api key (Generate under settings -> Api key)"
                 [(ngModel)]="modpack.solder.apiKey">
        </md-input-container>
      </div>
    </div>

    <div *ngSwitchDefault>
      No solder version selected.
    </div>

  </div>


  <button type="submit" md-raised-button (click)="testSolder()">Test solder connection</button>
</div>
