.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.collapsible {
  height: auto;
  overflow: hidden;
}

.hidden-input {
  input, input:hover {
    background-color: initial;
    padding: initial;
    border: initial;
    font: inherit;
    outline: initial;
  }
}

md-dialog.md-dialog-fullscreen {
  max-height: 100%;
  min-width: 100%;
  border-radius: 0;
}

button {
  -webkit-app-region: no-drag;
}

.md-dialog-container {
  padding: 1em;
  box-sizing: border-box;
}
