<div>
    <form name="modpackForm">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex>
                <label translate>DETAILS.NAME</label>
                <input ng-model="vm.application.modpack.name">
            </md-input-container>
            <md-input-container class="md-block" flex>
                <label translate>DETAILS.VERSION</label>
                <input ng-model="vm.application.modpack.version">
            </md-input-container>
        </div>
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label translate>DETAILS.INPUT</label>
                <input ng-model="vm.application.modpack.inputDirectory">
            </md-input-container>
            <md-button ng-click="vm.selectInputDirectory()">
                <strong translate>DETAILS.SELECT</strong>
            </md-button>
        </div>
        <div layout="row">
            <md-input-container class="md-block" flex>
                <label translate>DETAILS.OUTPUT</label>
                <input ng-model="vm.application.modpack.outputDirectory">
            </md-input-container>
            <md-button ng-click="vm.selectOutputDirectory()">
                <strong translate>DETAILS.SELECT</strong>
            </md-button>
        </div>
        <md-list ng-hide="vm.application.modpack.additionalFolders | isEmpty">
            <md-subheader class="md-no-sticky"><span translate>DETAILS.ADDITIONALFOLDERS</span></md-subheader>
            <md-list-item ng-repeat="(folder, include) in vm.application.modpack.additionalFolders">
                <p> {{ folder }} </p>
                <md-checkbox class="md-secondary" ng-model="include"></md-checkbox>
            </md-list-item>
        </md-list>
    </form>
</div>
